{% extends 'base.html' %}

{% block title %}
Post List
{% endblock %}


{% block ust_icerik %}

<script type="text/javascript">
    $(document).ready(function () {
        var $window = $(this);
        var $event_comment_list = $window.find('#event-comment-list');
        $window.on('submit', '.comment-form', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $method = $this.attr('method');
            var $data = $this.serialize();
            var $url = $this.attr('action');

            $.ajax({

                url: $url,
                type: $method,
                dataType: 'json',
                data: $data,
                success: function (data) {
                    console.log(data.event_comment_html);

                    $event_comment_list.html(data.event_comment_html);
                    $this.find('#id_icerik').val('');


                },
                error: function () {
                    alert("Bir hata oluştu")
                }


            })
        });
        $window.on('click', '#event-comment-list div.row a.yanitla-button', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $parent = $this.closest('div');
            var $href = $this.attr('href');
            var $comment_pk = $this.attr('comment_pk');
            $.ajax({
                url: $href,
                type: "GET",
                dataTyp: "json",
                data: {'comment_pk': $comment_pk},
                success: function (data) {
                    console.log(data);
                    var $form_html = data.form_html;
                    $parent.find('.child-form-container').html($form_html);
                },
                error: function () {

                }


            })
        });
        $(".event").on('click', '.add-favorite-button', function (e) {
            e.preventDefault();
            console.log("selam");
            var $this = $(this);
            var $url = $this.attr('href');
            $.ajax({
                url: $url,
                method: "GET",
                data: {},
                success: function (data) {
                    var response = data.status;
                    var count = data.count;
                    var $span = $this.find('span');
                    if (response === 'added') {
                        $span.addClass('active');
                    } else {
                        $span.removeClass('active');
                    }
                    $this.closest('div').find('.event-favorite-count').html(count)
                }

            })

        });
    })

</script>

{% endblock %}


{% block icerik %}


<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="event">
                <h2 class="page-header"><a href="{% url 'event-list' %}">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span></a> <a>{{ event.title|upper }}</a>

                </h2>
                <div class="row">
                    <div class="col-lg-8">
                        <p><span class="glyphicon glyphicon-tree-deciduous"></span> <b>
                            Etkinlik Sahibi: <a
                                href="#">{{ event.user.userprofile.get_screen_name }}</a>
                        </b></p>
                        {% if event.image %}
                        <img class="img-responsive" src="{{ event.image.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="col-lg-4 ">

                        <p class="pull-left">{{ event.starter_date }}</p>
                        <br><br>
                        <p class="pull-left">{{event.city}} </p>
                        <br>

                        <a href="#" class="btn btn-success btn-block">Katıl</a>

                        <a href="{% url 'add-remove-favorite' event.slug %}"
                           class="add-favorite-button btn btnsm btn-default">
                            <span class="glyphicon glyphicon-star {% if request.user.username in event.get_added_favorite_user %}active{% endif %}"></span>
                        </a>

                        <span title="Favori Sayısı">
                        <b class="event-favorite-count">{{ event.get_favorite_count }}</b></span>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">
                            Share on Facebook
                        </a>
                        <br>
                        <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/">
                            Share on Twitter
                        </a>
                        <br>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">
                            Share on Linkedin
                        </a>
                        <br>

                        <hr>
                                    <h2>
                <strong>
                    <a href="{{ url }}">Adresi Görüntüle</a>
                </strong>
            </h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">

                        <span>{{event.content | safe}} </span>

                        <p class="lead">
                            Kategoriler: {{ event.kategoriler.all }}
                        </p>
                    </div>
                </div>
            </div>
            {% if request.user == event.user %}
            <div class="row">
                <div class="col-lg-3 ">
                    <a href="{% url 'event-update' event.slug %}" class=" btn btn-primary">Güncelle</a>
                    <a href="{% url 'event-delete' event.slug %}" class=" btn btn-danger">Sil</a>
                </div>
            </div>
            {% endif %}

        <br>

        </div>


    </div>
</div>

<div class="row pull-center">
    <h2 class="page-header">Yorumlar ({{ event.get_event_comment_count }})</h2>
    <div class="col-lg-10 col-lg-offset-2" id="event-comment-list">
        {% include 'event/include/comment/comment-list-partial.html' with event=event %}
    </div>
    <div class="row" style="margin-top: 50px;">

        <form class="comment-form" action="{% url 'new-add-comment' event.pk 'event' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="col-lg-2">
                    <div class="col-lg-12">
                        <img style="height:75px;" class=" img-circle"
                             src="{{ request.user.userprofile.get_profile_photo }}">
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <span class="text-danger"><b>{{ error }}</b></span>
                        {% endfor %}
                        {% else %}
                        {% if field.help_text %}
                        <span class="text-success"><b>{{ field.help_text }}</b></span>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="submit" value="Yorum Yap" class="pull-right btn btn-success">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}