{% extends 'base.html' %}

{% block title %}
Event List
{% endblock %}

{% block ust_icerik %}

{% endblock %}


{% block icerik %}
<div class="row">
    <div class="col-lg-12 pull-center">


        {% for event in events %}
        <div class="post">
            <h3><a href="{% url 'event-detail' event.slug %}"> {{ event.title }}</a>

                <small style="font-size:small"><span
                        class="glyphicon glyphicon-time"></span> {{ event.created_date }}
                </small>
            </h3>
            {% if post.get_image %}
            <img class="img-responsive" src="{{ event.get_image }}" alt="">

            {% endif %}
            <p><span class="glyphicon glyphicon-tree-deciduous"></span>
                <br>


            </p>
            <p style="margin-top: 20px;"> {{ event.content|linebreaksbr|truncatechars:250 }}</p>
        </div>
        {% empty %}
        <p>Aradağınız Kiriteder Bir Blog Bulunamadı</p>
        {% endfor %}
    </div>


</div>
</div>


{% endblock %}