{% for comment in event.get_event_new_comment %}
<div class="row" style="margin-bottom:30px">
    <div class="col-lg-2">
        <div class="col-lg-12">
            <img style="height: 50px;" class="img-circle"
                 src="#">
        </div>
    </div>
    <div style="padding-left:0" class="col-lg-10">
        <span><b>{{ comment.user.userprofile.get_screen_name }}</b></span>
        <span>{{ comment.icerik }}</span>
        <br>
        <span class="pull-right"><b>{{ comment.comment_date }}</b></span>
        <a href="{% url 'get-child-comment-form' %}" class="yanitla-button">
            Yanıtla
        </a>
        <div class="child-form-container">
        </div>
    </div>
</div>
{% endfor %}