{% extends 'base.html' %}
{% load static %}

{% block ust_icerik %}
    <script type="text/javascript" rel="script">
        $(document).ready(function () {


            var url = "{% url 'user-profile' user.username %} ";
            $.ajax({
                url: url,
                method: "POST",
                dataType: 'json',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $(".profile_events_list").html(data.html);
                    $(".profile_favorite_events_list").html(data.html_favorite);
                }
            });

            $(".profile_events_list").on('click', '#event_list_next_page', function (e) {
                e.preventDefault();
                var url = $('#event_list_next_page').attr('href');
                var events_or_favori = 'favori';
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data) {
                        $(".profile_events_list").html(data.html);

                    }
                })
            });
            $(".profile_events_list").on('click', '#event_list_previous_page', function (e) {
                e.preventDefault();
                var url = $('#event_list_previous_page').attr('href');

                $.ajax({
                    url: url,
                    method: "POST",
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data) {
                        $(".profile_events_list").html(data.html);

                    }
                })
            });

            $(".profile_favorite_events_list").on('click', '#event_favorite_list_previous_page', function (e) {

                e.preventDefault();
                var url = $('#event_favorite_list_previous_page').attr('href');
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data) {
                        $(".profile_favorite_events_list").html(data.html_favorite);

                    }
                })
            });
            $(".profile_favorite_events_list").on('click', '#event_favorite_list_next_page', function (e) {

                e.preventDefault();
                var url = $('#event_favorite_list_next_page').attr('href');
                var events_or_favori = 'favori';
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (data) {
                        $(".profile_favorite_events_list").html(data.html_favorite);

                    }
                })
            })

        });
    </script>
{% endblock %}

{% block title %} {{ user.profile.get_screen_name }}{% endblock %}

{% block icerik %}


    <div class="row ">
    <div class="col-lg-10 pull-center" style="margin-top: 50px;">


        <div class="col-lg-8">
            {% if user.userprofile.user_full_name %}
                <span class="text"><b>{{ user.userprofile.user_full_name|upper }}</b></span>
                <br/>
            {% else %}
                <span class="text"> <b>{{ user.username }}</b> </span>
            {% endif %}
            <br>
            {% if user.userprofile.bio %}
                <span class="text">{{ user.userprofile.bio }}</span>
            {% else %}
                <a href="#">Bio eklemek için tıklayın</a>
            {% endif %}
        </div>
        <div class="col-lg-2 pull-right ">
            <img style="height:150px" ; width="150px" ; class="pull-left"
                 src="{{ user.userprofile.get_profile_photo }}">
            <br>
            <a class="btn btn-default" href="{% url 'user-profile-update' %}">Profilini Güncelle</a>
        </div>

        <div class="col-lg-8 ">
            <h2 class="page-header"> Etkinlikler <span> ( {{ event_list_count }} ) : </span></h2>


            <div class="profile_events_list">


            </div>

        </div>
        <div class="col-lg-8">
            <h2 class="page-header"> Favori Etkinlikler <span> ( {{ event_list_count }} ) : </span></h2>

            <div class="profile_favorite_events_list">


            </div>

        </div>
    </div>
{% endblock %}
