{% extends "base.html" %}

{% block body %}

<div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h2 class="mt-4">{{ event.title }}</h2>
          <hr>
          
          <!-- Author -->
          <p style="color: green" class="lead">
            by
            {{ event.author }}
          </p>

          <hr>

          <!-- Date/Time -->
          <p style="color:blue"> {{ event.starter_date }} <p>

          <hr>

          <!-- Post Content -->
          <p class="lead">
            {{ event.content | safe }}
          </p>
          <hr>

        </div>

      </div>

{% endblock body %}