{% extends 'base.html' %}

{% block body %}

    <h2>
        Hoşgeldin {{request.user.username}}
    </h2>

    <h2 style="color:blue;">Kişisel Bilgiler</h2>
    <hr>
    <strong>
    Mail: {{ request.user.email }}
    <br>
    Kullanıcı Adı: {{ request.user.username }}
    <br>
    İsim: {{ request.user.first_name }}
    <br>
    Soyisim: {{ request.user.last_name }}
    </strong>
    <hr>

    <h2 style="color:blue;">Oluşturulan Etkinlikler</h2>

    {% for u in user %}
        {{ u.id }} -)
        {{ u.title }}
        {{ u.content | safe }}
        {{ u.starter_date }}
        <br>
        <a href="/events/update/{{u.id}}" class="btn btn-danger">Güncelle</a></td>
        <a href="/events/delete/{{u.id}}" class="btn btn-danger">Sil</a></td>
        <hr>
    {% endfor %}

{% endblock body %}