<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Özgür Etkinlik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hakkında</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'events' %}"  >Etkinlikler</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/events/profile">Profil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'addevent' %}">Etkinlik Oluştur</a>
                </li>   
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
                </li>
                {% endif %}
        </div>
    </div>
</nav>